.amazon-button {
    background-color: rgba(255, 234, 41, 0.675);
    border: none;
    height: 30px;
    width: 170px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.amazon-button:hover{
    background-color: rgba(255, 234, 41, 0.836);
}
