.back-button {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
}

.next-button {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 19px;
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
}

.page-num {
    font-size: 20px;
    margin-left: 4px;
}