.stretch-button {
    background-color: rgba(0, 128, 0, 0.877);
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 4px;
    margin-left: 6px;
    font-size: 20px;
    cursor: pointer;
    padding-bottom 0.50s, 
    padding-left 0.50s,
    padding-right 0.50s;

    transition: padding-top 0.50s, 
}

.stretch-button:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}