.stretch-button {
    background-color: rgba(0, 128, 0, 0.877);
    border: none;
    color: white;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 25px;
    transition: padding 0.15s, margin 0.15s;
}

.stretch-button:hover {
    padding-left: 23px;
    padding-right: 23px;
    margin-left: 0px;
    margin-right: 0px;
}
